<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa-Calida</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles/semantic.min.css' %}">
    <script src="{% static 'core/styles/semantic.min.js' %}"></script>
</head>
<body>
    <div class="ui container">
        {% load core_links %}
        <div class="ui secondary menu">
          <a href="{% url 'core:index' %}" class="item {% active_link 'core:index' %}">
            Home
          </a>
          <a href="{% url 'core:login' %}" class="item {% active_link 'core:login' %}">
            Login
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            {% if user and not user.is_anonymous %}
                <a href="{% url 'core:logout' %}" class="ui basic button">Logout {{ user }}</a>
            {% else %}
                <a href="{% url 'core:login' %}" class="ui basic button"><i class="user icon"></i>Log in</a>
            {% endif %}
          </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>