<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Casa-Calida</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles/semantic.min.css' %}">
    <script defer src="{% static 'core/js/jquery-2.2.3.min.js' %}"></script>
    <script defer src="{% static 'core/styles/semantic.min.js' %}"></script>
    <script defer src="{% static 'core/js/main.js' %}"></script>
</head>
<body>
    <div class="ui container">
        {% block header %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
