{% extends 'core/base.html' %}

{% block header %}
    {% load core_links %}
    <div class="ui secondary menu">
        <a href="{% url 'core:index' %}" class="item {% active_link 'core:index' %}">
            <i class="home icon"></i>Home
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'core:dashboard' %}" class="item {% active_link 'core:dashboard' %}">
                <i class="block layout icon"></i>Dashboard
            </a>
        {% endif %}
        {% block additionalheader %}
        {% endblock %}
    </div>
{% endblock %}
