{% extends 'core/base_head.html' %}

{% load staticfiles %}

{% block content %}
    <h1>Dashboard</h1>
    <section>
        {% if viewdata %}
            <a href="/setheatingon/">Set Heating On</a><br/><br/>
            <a href="/setheatingoff/">Set Heating Off</a><br/><br/><br/>
            <a href="/setwateron/">Set Irrigation On</a><br/><br/>
            <a href="/setwateroff/">Set Irrigation Off</a><br/><br/>
            <ul>
            {% for controller in viewdata.controllers %}

                <li><h2>{{ controller.name }}</h2>
                    <ul>
                    {% for device in controller.devices %}
                        {% if device.vendor and device.brand %}
                            <li><h3>{{ device.name }}</h3>
                                {% if device.sensors|length > 0 %}
                                    <h4>Sensors:</h4>
                                    <ul>
                                    {% for sensor in device.sensors %}
                                        <li>{{ sensor.name }}<br />{{ sensor.value }} <span style="color: grey">({{ sensor.date }})</span></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if device.actuators|length > 0 %}
                                    <h4>Actuators:</h4>
                                    <ul>
                                    {% for actuator in device.actuators %}
                                        <li>{{ actuator.name }}<br />{{ actuator.value }} <span style="color: grey">({{ actuator.date }})</span></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No controllers available.</p>
        {% endif %}
    </section>
{% endblock %}
