{% extends 'core/base_head.html' %}

{% load staticfiles %}

{% block content %}
    <h1>Dashboard</h1>
    <section>
        <a href="/enabledaily">Enable Daily Schedule</a><br/><br/>
        <a href="/skipdaily">Skip Daily Schedule</a><br/><br/>
        <a href="/settime">Set 02:00AM Sprinkler Time</a><br/><br/><br/>
        <a href="/seton">Set Sprinkler On</a><br/><br/>
        <a href="/setoff">Set Sprinkler Off</a>
        {% if jobs %}
            <ul>
                {% for job in jobs %}
                    <li>{{ job.device }}: {{ job.type }}={{ job.value }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if viewdata %}
            <ul>
            {% for controller in viewdata.controllers %}
                <li>{{ controller.name }}
                    <ul>
                    {% for device in controller.devices %}
                        <li>{{ device.name }}
                            <ul>
                            {% for sensor in device.sensors %}
                                <li>{{ sensor.name }}<br />{{ sensor.value }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No controllers available.</p>
        {% endif %}
    </section>
{% endblock %}
