{% extends 'core/base_head.html' %}

{% load staticfiles %}

{% block content %}
    <h1>Dashboard</h1>
    <section>
        {% if viewdata %}
            <ul>
            {% for controller in viewdata.controllers %}
                <li>{{ controller.name }}
                    <ul>
                    {% for device in controller.devices %}
                        <li>{{ device.name }}
                            <ul>
                            {% for sensor in device.sensors %}
                                <li>{{ sensor.name }}<br />{{ sensor.value }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No controllers available.</p>
        {% endif %}
    </section>
{% endblock %}
